@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General CSS */

html,
body {
  height: 100%;
}

/* body {
  font-family: 'Noto Sans', sans-serif;
} */

body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  color: #41464b;
}

a {
  font-family: "Inter", sans-serif;
  color: #2196f3;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: #64707b;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 1600px) {
  p {
    font-family: "Inter", sans-serif;
    color: #64707b;
    font-size: 14px;
    font-weight: 300;
  }
}

.hide {
  display: none;
}
.text-search {
  color: #64707b;
}
/* .btn_submit {
  display: flex;
  align-items: flex-start;
} */
/* Các style cho button Pricing Calculation */
.btn_submit {
  height: 100%;
  width: fit-content; /* Đặt chiều rộng dựa trên nội dung */
}
.btn_submit {
  background: #266b94;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* X, Y, độ mờ, màu bóng */
  transition: background-color 0.3s ease;
  border: 1px solid #666;
}
.btn_submit:hover {
  border-color: #ccc;
}

.btn_submit:active {
  background-color: #133450; /* Màu nền khi click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ khi click */
}
/* Media query chỉ áp dụng cho màn hình nhỏ hơn hoặc bằng 640px */
@media screen and (max-width: 640px) {
  .btn_submit {
    /* margin-top: 8px;  */
  }
}

.custom_select,
.custom_select_standard {
  position: relative;
  /* width: 640px; */
}
.select-box,
.select-box_standard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.375rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.select-box:hover,
.select-box_standard:hover {
  border-color: #666; /* Màu viền khi hover */
}

.selected-options,
.selected-options_standard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.tag {
  background-color: #d9d9d9;
  color: #000;
  border-radius: 5px;
  margin-right: 5px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
}
.remove-tag {
  margin-left: 8px;
  cursor: pointer;
}
.arrow {
  margin: 0 10px;
}
.fa-angle-down {
  color: #404040;
  font-size: 30px;
}
.options,
.options_standard {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  max-height: 225px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.open .options {
  display: block;
}

.open .options_standard {
  display: block;
}

.option-search-tags,
.option-search-tags_standard {
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 4px 0px;
  margin: 4px;
}
.search-tags,
.search-tags_standard {
  width: 100%;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 14px;
}
.clear {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  color: #000;
  top: 16px;
  left: auto;
  right: 15px;
}
.option,
.option_standard {
  padding: 4px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.option.active,
.option_standard.active {
  color: #000;
  background-color: #d9d9d9;
  border-bottom: 1px solid #eaeaea;
}

.tag:hover,
.option:hover,
.option_standard:hover {
  background-color: #d9d9d9;
}

.btn_submit {
  cursor: pointer;
}

#comp-offer {
  padding: 40px 0;
}

.desc-comp-offer-cont-pro {
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px 1px rgba(158, 158, 158, 0.68);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* padding-bottom: 16px; */
}
.desc-comp-offer-cont-pro:hover {
  margin-bottom: 10px;
  border-bottom: 5px solid #2196f3;
  margin-top: -5px;
  cursor: pointer;
}

.desc-comp-offer > .heading-border-light {
  margin-left: 20px;
}

.desc-comp-offer-cont-pro h3 {
  padding: 20px 10px 0 10px;
  font-size: 18px;
  text-transform: none;
}

.desc-comp-offer-cont-pro p {
  padding: 4px 10px;
  font-size: 14px;
}

.desc-comp-offer-cont-pro a {
  padding: 0px 10px;
}

.img-center-block {
  display: block;
  margin: auto;
}

@media (max-width: 767px) {
  .desc-comp-offer {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  #comp-offer .col-sm-6 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70% !important;
  }

  .desc-comp-offer {
    margin: 20px auto;
  }
}

@media (max-width: 420px) {
  #comp-offer .col-sm-6 {
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95% !important;
  }
}

@media (min-width: 1600px) {
  .desc-comp-offer-cont p {
    padding: 0 10px;
    font-size: 16px;
  }
}

/* CSS cho select với class sortCommTask */
.sortCommTask {
  padding: 4px; /* Khoảng cách giữa nội dung và viền */
  border: 1px solid #ccc; /* Viền */
  border-radius: 4px; /* Góc bo tròn */
  outline: none; /* Loại bỏ viền focus (nếu có) */
  font-size: 14px; /* Kích thước chữ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* X, Y, độ mờ, màu bóng */
  margin: auto;
}

/* Hover effect */
.sortCommTask:hover {
  border-color: #666; /* Màu viền khi hover */
  cursor: pointer;
}

/* Active effect (khi click vào) */
.sortCommTask:active {
  border-color: #555; /* Màu viền khi active */
}

/* Khi select có focus */
.sortCommTask:focus {
  border-color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Kiểu dạng nền, màu sắc chữ và mũi tên */
.sortCommTask,
.sortCommTask option {
  background-color: #fff;
  color: #333;
}

/* Mũi tên chỉ xuất hiện khi hover */
.sortCommTask:hover::-ms-expand {
  display: none;
}

.sortCommTask::-ms-expand {
  display: none;
}

/* Loại bỏ kiểu dạng nền trắng mặc định trên Firefox */
.sortCommTask:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* #items {
  display: flex;
} */

#items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 320px; */
  gap: 40px;
  /* grid-auto-flow: dense; */
}
@media (max-width: 1024px) {
  #items {
    grid-template-columns: repeat(2, 1fr); /* 2 cột cho màn hình md */
    gap: 20px;
  }
}
/* Media query cho màn hình md */
@media (max-width: 768px) {
  #items {
    grid-template-columns: repeat(1, 1fr); /* 2 cột cho màn hình md */
    gap: 20px;
  }
}
@media (max-width: 576px) {
  #items {
    grid-template-columns: 1fr; /* 1 cột cho màn hình sm */
  }
}

.descCommTask {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nameComm {
  background-color: #266b94;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  border-radius: 20px 20px 0 0;
}
.nameComm p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.descCommTask {
  padding: 20px;
  border-radius: 0 0 20px 20px;
  border: 1px solid #266b94;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.itemCommTask {
  border-radius: 20px;
  transition: transform 0.3s;
}
.itemCommTask:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.descCommTask p,
.descTotalSkill,
.descStandardSkill,
.descFullRangeSkill,
.nameComm p {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  transform: translateY(4px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.descCommTaskEN {
  color: #266b94 !important;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  height: 30px;
}

.descCommTaskVN {
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  height: 30px;
}

.descBlock {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.totalSkill {
  width: 25%;
}
.descTotalSkill,
.descStandardSkill,
.descFullRangeSkill {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #266b94;
  border-radius: 12px;
  font-weight: bold;
  color: #266b94;
  font-size: 13px;
}
.descNameTotal,
.descNameStandard,
.descNameFullRange {
  font-size: 12px;
}
.price {
  display: flex;
  width: 75%;
  gap: 6px;
}

.priceStandard {
  width: 48%;
}
.priceFullRange {
  width: 52%;
}

.btnDetail {
  width: 100%;
  height: 38px;
  border-radius: 12px; /* Góc cong 20px cho phần tử */
  overflow: hidden; /* Để giảm các hiệu ứng góc cong khi thêm đường viền cho nút bên trong */
  background-color: #266b94;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.btnDetail:hover {
  background-color: #226084; /* Màu nền khi hover */
  transform: translateY(-1px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); /* Đổ bóng khi hover */
}

.btnDetail:active {
  background-color: #1e5475; /* Màu nền khi click */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng khi click */
}
/* @media only screen and (max-width: 600px) {
  .descBlock {
    flex-direction: column;
  }
  .totalSkill {
    width: 30%;
  }
  .price{
    width: 100%;
    gap: 24px;

  }

  .priceStandard,
  .priceFullRange {
    width: 50%;
  }
} */
@media (max-width: 767px) {
  #items {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  #comp-offer .col-sm-6 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70% !important;
  }

  #items {
    margin: 20px auto;
  }
}

@media (max-width: 420px) {
  #comp-offer .col-sm-6 {
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95% !important;
  }
}

@media (min-width: 1600px) {
  #items p {
    padding: 0 10px;
    font-size: 14px;
  }
}

/* Detail table */
.tableDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.cefrBlock,
.seBlock,
.plBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  #items {
    grid-template-columns: repeat(2, 1fr); /* 2 cột cho màn hình md */
    gap: 20px;
  }
}
/* Media query cho màn hình md */
@media (max-width: 768px) {
  #items {
    grid-template-columns: repeat(1, 1fr); /* 2 cột cho màn hình md */
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .cefrBlock,
  .seBlock,
  .plBlock {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.a1_a2_level,
.b1_b2_level,
.c1_c2_level {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnBankBlock {
  display: inline-block;
  margin-bottom: 20px
}

@media (max-width: 576px) {
  .btnBankBlock {
  margin-bottom: 0;

  }
}
